@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


p.error{
	margin-left:10%;
	color: red;
}

.App {
	text-align: center;	
}

.header {
	display: flex;
	padding: 1rem 5rem;
	background: #ffffff;
}

table {
	display: flex;
	justify-content: center;
	border: 1px solid gray;
	margin: 5vh;
}

td {
	border: 1px solid gray;
	width: 30em;
}

.table__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.table__header {
	background-color: #96bb7c;
}
